{% extends "auctions/layout.html" %}
{% load static%}
{% block body %}
<div class="container">
  <img class="cl" src="{% static 'auctions\image\cl.png' %}" />

</div>
<div class="container">
    <form action="{% url 'submit' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlInput1">Title</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title of the lisiting..." name="title" required>
        </div>
        
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Description..." name="description" required></textarea>
        </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Category</label>
            <select class="form-control" id="exampleFormControlSelect1" name="category" required>
              <option>Cloth</option>
              <option>Cars</option>
              <option>Electronics</option>
              <option>Home accessories</option>
              <option>Books</option>
            </select>
          </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Initial Bid</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Starting bid..." name="price" required>
          </div>
        
          <div class="form-group">
            <label for="exampleFormControlInput1">Image link (optional)</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="https://name_of_the_img.jpg..." name="link">
          </div>

        <button class="btn btn-outline-info" type="submit">Submit</button>

      </form>
</div>
{% endblock %}